.navbar {
  padding: 48px 0;
}

.sign-in {
  width: auto !important;
}
.navbar-brand {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar-brand p {
  font-size: var(--header-3);
  margin: auto;
  font-weight: var(--font-weight-semi-bold);
  color: var(--primary);
}
.navbar-nav .nav-item .nav-link:hover {
  color: var(--primary) !important;
}
img {
  color: red;
}
@media (max-width: 750px) {
  .navbar-collapse {
    margin: 15px 30px;
  }
  .navbar-collapse .navbar-nav {
    gap: 10px;
  }
  .navbar-collapse .form-sign-in {
    margin-top: 10px;
  }
}

@media (max-width: 1050px) {
}
