.app-download {
  margin: auto auto;
  margin: 100px 0px;
  font-size: var(--header-3);
  font-weight: var(--font-weight-medium);
  text-align: center;
}
.app-download-flatforms {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.app-download-flatforms img {
  width: max(30vw, 120px);
  max-width: 180px;
  transition: 0.5s;
  cursor: pointer;
}
.app-download-flatforms img:hover {
  transform: scale(1.05);
}
