section.hero {
  margin: 5rem 0;
}
.cta {
  padding-top: 30px;
}
.btn1 {
  padding: 15px 25px;
  border-radius: 6px;
  font-size: var(--text-medium);
  font-weight: var(--font-weight-medium);

  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}
.btn-primary:focus {
  background-color: var(--primary-light);
}
.btn-primary:hover {
  background-color: var(--primary-light);
}

/* btn secondary */
.btn-secondary {
  background-color: var(--gray-2);
  color: var(--gray-1);
}
.btn-secondary:focus {
  background-color: var(--white);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
  color: var(--gray-1);
}
.btn-secondary:hover {
  background-color: var(--white) !important;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
  color: var(--gray-1);
}
.text-label,
.text-hero-bold,
.text-hero-regular {
  margin: 24px 0;
}
.text-label {
  color: var(--primary);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  line-height: 31px;
}
.text-hero-bold {
  color: var(--dark-brown);
  font-size: var(--header-1);
  font-weight: var(--font-weight-bold);
  line-height: 74px;
}
.text-hero-regular {
  color: var(--gray-1);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  line-height: 31px;
}

/* testimoni */
.testimoni-brand {
  padding: 24px 0;
}
.picture-brand img {
  width: 100%;
}
/* reponsive */
@media (min-width: 1399.99px) {
  .container {
    width: 84%;
  }
  .testimoni-brand {
    padding: 4rem 5rem;
  }
}
@media (max-width: 1050px) {
  section.hero {
    margin: 1rem 0;
    margin-bottom: 3rem;
  }
  .hero-picture {
    margin-top: 30px !important;
  }
  .hero-picture img {
    width: 100%;
  }
  .text-hero-bold {
    font-size: var(--header-4);
  }
  .section.hero {
    margin: 2rem 0;
  }
  .bnt1 {
    padding: 1rem;
  }
}
@media (max-width: 750px) {
  section.hero {
    margin: 1rem 0;
    margin-bottom: 3rem;
  }
  .testimonl-brand {
    display: none;
  }
  .hero-picture img {
    width: 80%;
  }
  .text-hero-bold {
    font-size: var(--header-4);
  }
  .section.hero {
    margin: 2rem 0;
  }
  .bnt1 {
    padding: 1rem;
  }
}
